    elapsed:0.3 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:375 m       vm:+0 m       um:99 m       um:+0 m -- IMPORT
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:377 m       vm:+2 m       um:99 m       um:+0 m -- IMPORT
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:377 m       vm:+0 m      um:100 m       um:+1 m -- ANALYSIS/initializeAnalysis.
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:377 m       vm:+0 m      um:100 m       um:+1 m -- ANALYSIS
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:377 m       vm:+0 m      um:100 m       um:+0 m -- ANALYSIS
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170806 m      vm:401 m      vm:+24 m      um:100 m       um:+0 m -- Build output paths
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170800 m      vm:453 m       vm:+0 m      um:106 m       um:+0 m -- Build output paths
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.31       fm:170800 m      vm:453 m       vm:+0 m      um:106 m       um:+0 m -- ANALYSIS
    elapsed:0.1 s      user:0 s    system:0.1 s      %cpu:74.07       load:0.31       fm:170782 m      vm:529 m      vm:+76 m      um:122 m      um:+16 m -- Build output paths
