      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171108 m      vm:375 m       vm:+0 m       um:99 m       um:+0 m -- IMPORT
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171108 m      vm:377 m       vm:+2 m       um:99 m       um:+0 m -- IMPORT
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171108 m      vm:377 m       vm:+0 m       um:99 m       um:+0 m -- ANALYSIS/initializeAnalysis.
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171108 m      vm:377 m       vm:+0 m       um:99 m       um:+0 m -- ANALYSIS
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171108 m      vm:377 m       vm:+0 m       um:99 m       um:+0 m -- ANALYSIS
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171102 m      vm:421 m      vm:+44 m       um:99 m       um:+0 m -- Build output paths
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171102 m      vm:461 m       vm:+0 m      um:106 m       um:+0 m -- Build output paths
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171102 m      vm:461 m       vm:+0 m      um:106 m       um:+0 m -- ANALYSIS
      elapsed:0 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171098 m      vm:529 m      vm:+68 m      um:110 m       um:+4 m -- Build output paths
    elapsed:0.1 s      user:0 s      system:0 s       %cpu:0.00       load:0.56       fm:171097 m      vm:529 m       vm:+0 m      um:110 m       um:+0 m -- Dump Clock Relationship Graph
